.footer(style='margin-left: 2em; margin-right: 2em;')
	hr(style='margin: 30px 0 10px 0;')
	p &copy;&nbsp;
		a(href='http://chriswiggins.co.nz') Chris Wiggins
		|  2014

link(rel='stylesheet', href=basename+'/static/css/bootstrap-submenu.css')
script(src=basename+'/static/js/bootstrap.min.js')
script(src=basename+'/static/js/highcharts/highcharts.js')


block footer